At the top of every notebook, we will run the helper function notebook. This is sort of like importing a library. Much of the data cleaning, preprocessing, feature engineering, model tuning, and model evaluation code is abstracted away into the helper function notebook.  Please refer to it for coding details.

In [1]:
%run code/helper_functions.ipynb

Let's create some helpful data structures that organize the columns into their types.  Let's also create a dictionary that will be used to map ordinal values to integers.

In [2]:
ordinal_dicts = {'Lot Shape': {'Reg': 3, 'IR1': 2, 'IR2': 1, 'IR3': 0},
                 'Utilities': {'AllPub': 3, 'NoSewr': 2, 'NoSeWa': 1, 'ELO': 0},
                 'Land Slope': {'Gtl': 2, 'Mod': 1, 'Sev': 0},
                 'Exter Qual': {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'Po': 0},
                 'Exter Cond': {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'Po': 0},
                 'Bsmt Qual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                 'Bsmt Cond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                 'Bsmt Exposure': {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0},
                 'BsmtFin Type 1': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
                 'BsmtFin Type 2': {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
                 'Heating QC': {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'Po': 0},
                 'Electrical': {'SBrkr': 4, 'FuseA': 3, 'FuseF': 2, 'FuseP': 1, 'Mix': 0},
                 'Kitchen Qual': {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'Po': 0},
                 'Fireplace Qu': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                 'Functional': {'Typ': 7, 'Min1': 6, 'Min2': 5, 'Mod': 4, 'Maj1': 3, 'Maj2': 2, 'Sev': 1, 'Sal': 0},
                 'Garage Finish': {'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0},
                 'Garage Qual': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                 'Garage Cond': {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                 'Paved Drive': {'Y': 2, 'P': 1, 'N': 0},
                 'Pool QC': {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NA': 0},
                 'Fence': {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA': 0}
                }

nominal_cols = ['PID', 'MS SubClass', 'MS Zoning', 'Land Contour', 'Street',
                 'Alley', 'Lot Config', 'Neighborhood', 'Condition 1',
                 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style',
                 'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
                 'Foundation', 'Garage Type', 'Misc Feature', 'Heating',
                 'Central Air', 'Sale Type']

ordinal_cols = ['Lot Shape', 'Utilities', 'Land Slope', 'Overall Qual',
                 'Overall Cond', 'Exter Qual', 'Exter Cond', 'Bsmt Qual',
                 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1',
                 'BsmtFin Type 2', 'Heating QC', 'Electrical', 'Kitchen Qual',
                 'Fireplace Qu', 'Functional', 'Garage Finish', 'Garage Qual',
                 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence']
    
discrete_cols = ['Id', 'Year Built', 'Year Remod/Add', 'Bsmt Full Bath',
                 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
                 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Yr Blt',
                 'Garage Cars', 'Mo Sold', 'Yr Sold']

continuous_cols = ['Lot Frontage', 'Lot Area', 'Mas Vnr Area', 'BsmtFin SF 1',
                   'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF',
                   '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Garage Area',
                   'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch',
                   'Screen Porch', 'Pool Area', 'Misc Val', 'SalePrice']

Let's load in the training dataset and move the ids to the row index.

In [3]:
df = pd.read_csv("./datasets/train.csv")
df.set_index('Id', inplace = True)

Before we clean and preprocess, let's look at the dataframe's head, dtypes, and null values information.

In [4]:
df.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
set(df.dtypes)

{dtype('int64'), dtype('float64'), dtype('O')}

In [6]:
sum(df.isnull().sum())

9822

Let's apply our preprocess function to remove NaNs, remap ordinal values to integers, and turn nominal columns into dummies.

In [7]:
df = preprocess(df)

Let's look back at the dataframe's head, dtypes, and describe after preprocessing. All dtypes should be numerical, no NaNs should exist, and there should be thousands of columns considering we gathered dummies for every nominal column.

In [8]:
df.head()

,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Misc Feature_Shed,Misc Feature_TenC,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
Id,,,,,,,,,,,,,,,,,,,,,
109,0.0,13517,2,3,2,6,8,1976,2005,289.0,...,0,0,0,0,0,0,0,0,0,1
544,43.0,11492,2,3,2,7,5,1996,1997,132.0,...,0,0,0,0,0,0,0,0,0,1
153,68.0,7922,3,3,2,5,7,1953,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
318,73.0,9802,3,3,2,5,5,2006,2007,0.0,...,0,0,0,0,0,0,0,0,0,1
255,82.0,14235,2,3,2,6,8,1900,1993,0.0,...,0,0,0,0,0,0,0,0,0,1

In [9]:
set(df.dtypes)

{dtype('uint8'), dtype('int64'), dtype('float64')}

In [10]:
sum(df.isnull().sum())

0

That's it for cleaning and preprocessing.  We won't export out this dataframe as a csv since the preprocessing helper function is built into the 'model' helper function already. Be sure to look at 'helper_functions.ipynb' for detailed code.